<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <div>
        <h1>Ini Request</h1>
        <form action="" method="post">
            <input type="text" name="nama" required>
            <input type="detail" name="detail" required>
            <button type="submit">Kirim</button>    
        </form>
        
        <hr>
        <h1>Ini Response</h1>
        {{context}}
        <br>
        {% for d in context %}
        <ul>
            <li>{{d}}</li>
        </ul>    
        {% endfor %}
   </div>
   
</body>
</html>